.card {
    width: 280px;
    border: 1px solid black;
    height: 400px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21);
    margin-bottom: 15px;
    a{
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
    img {
        width: 100%;
    }
    h3{
        text-align: center;
    }
    .card-info{
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        b{
            font-size: 17px;
        }
        svg{
            font-size: 28px;
            cursor: pointer;
        }
        .clikced{
            font-size: 28px;
            cursor: pointer;
            color: greenyellow;
        }
    }
}